$site-white:#fff;
$site-snow:#f9f9f9;
$site-dark-blue:#007CD6;
$site-blue:#0091DE;
$site-light-blue:#1e9ee2;
$icon-light-blue:#F4FAFC;
$site-green:#73c573;
$site-dark-grey:#63666A;
$site-grey:#dcdddf;
$icon-grey:#575757;
$dark-grey:#63666A;
$site-black:#2c2c2c;
$site-light-black:#0a0a0a;