@import'variables';
@import 'utilities';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  max-width: 100%;
  overflow-y: scroll;
  line-height: 1.5;
  letter-spacing: .02rem;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

//Header
header{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $site-white;
  border-bottom: solid $site-snow thin;

  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:90%;
    margin: 0 auto;
    padding: 1rem 0;
  }

  //Header logo
  .header-logo a{
    color: $site-blue;
  }

  .header-menu{
    display: flex;
    justify-content: space-between;
    width: 40%;

    a{
      color: $site-blue;
    }

    li{
      font-size: .75rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  //Header contact
  .header-contact{
    display: flex;
    flex-direction: column;
    color:$site-blue;
    font-weight: bold;

    //header contact top
    .header-contact-top{
      display: flex;
      align-items: center;

      //Icon in header contact
      i{
        font-size: 1rem;
        margin-right: 0.15rem;
        color: $site-green;
      }

      //Icon in header contact
      p{
        font-size: 1rem;
      }
    }

    //header contact bottom
    .header-contact-bottom{
      font-size: .95rem;
    }
  }
}

//showcase
.showcase{
  height: 80vh;
  background: url(/dist/img/showcase-lawn.jpg) no-repeat center center/cover ;

  /*dark overlay*/
  .overlay{
    background:rgba(0,0,0,0.015);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    //text overlay
    .text-overlay{
      color: $site-white;
      z-index: 1;

      h2{
        font-size: 4.3rem;
      }

      p{
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      
      /*About us button*/
      a{
        @extend %button-share;
        font-size: 1.2rem;
        color: $site-white;
        background-color: $site-green;
        padding: .65rem 1.2rem;
    
        &:hover{
          background-color: $site-white;
          color: $site-green;  
        }
      }
    }
  }
}

/*Showcase icon at the bottom of the showcase*/
.showcase-icon{
  position: relative;
  bottom: 3rem;
  text-align: center;

  & i{
    color: $site-light-blue;
    background-color: $icon-light-blue;
    border: solid $site-blue 2px;
    border-radius: 50%;
    font-size: 3rem;
    padding: 1.25rem;
  }
}

/*Section A - First section beneath showcase holding the top services*/
.home-section-a{
  margin-top: 1rem;

  .home-section-a-title{
    text-align: center;
    /*section title*/
    & h2{
      color:$site-dark-grey;
      font-size: 2.4rem;
    }
    /*section description*/
    & p{
      color:$site-dark-grey;
      font-size: 1.3rem;
    }
  }

  /*top services-grid*/
  .top-services-grid{
    max-width: 95%;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    /*Individual boxes in top services grid*/
    .top-service-box{
      display: flex;
      flex-direction: column;
      text-align: center;
      border: solid $site-grey thin;
      box-shadow: 0 0 8px $site-grey;
      padding: 5rem;
      transition-property: all;
      transition-duration: .5s;
      margin-right: 1rem;
    }

    /*top service box hover*/
    .top-service-box:hover{
      border-top: solid $site-green 10px;
    }
      
    .top-service-box-icon i{
      font-size: 3rem;
      border-radius: 50%;
      background-color: $site-grey;
      color: $icon-grey;
      padding: 1.5rem;
      transition-property: all;
      transition-duration: .5s;
    }
    
    /*extra padding for the icon in the third box*/
    .top-service-box:nth-child(3) .top-service-box-icon i{
      padding: 1.5rem 1.8rem;
    }

    .top-service-box:hover .top-service-box-icon i{
      background-color: $site-light-blue;
      color: $site-white;
    }

    /*Service box title*/
    .top-service-box-icon p{
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $site-dark-grey;
      margin-top: 1rem;
    }

    .top-service-box-description{
      color: $site-dark-grey;
      margin-top: 1rem;
    }

    .top-service-box-link{
      margin-top: 1rem;
    }
    
    .top-service-box-link a{
      color: $site-light-blue;
      font-size: 1rem;
    }  
  }
}

/*Section B - Portfolio/Our Work section*/
.home-section-b{
  margin-top: 4rem;
  background-color: $site-black;
}

/*Portfolio container that adds margin on the outside and flex display*/
.home-portfolio-container{
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  max-width: 97%;
}

/*Portfolio content container*/
.home-portfolio-content-container{
  color: $site-white;
  max-width: 50%;
  margin-right: 4rem;
}

/*Our work portfolo title*/
.home-portfolio-title{
  font-size: 1.8rem;
  margin-top: 3rem;
  font-weight: bold;
}

/*underline on portfolio title*/
.home-portfolio-title::after{
  content: "";
  display: block;
  width: 25%;
  margin: 1rem 0 0 .3rem;
  border-bottom: solid $site-green 5px;
}

/*Content/Paragraphs on the left side*/
.home-portfolio-content{
  margin: 2rem 0 0 0;
  line-height: 1.6rem;
}

.home-portfolio-content p{
  font-size: .95rem;
}

.home-portfolio-content p:first-child{
  margin-bottom: 2rem;
}

/*Button that links to the portfolio*/
.home-portfolio-button{
  margin: 5rem 0;
}

.home-portfolio-button a{
  color: $site-white;
  background-color: $site-green;
  padding: .75rem 1.25rem;
  border-radius: 4px;
  transition-property: all;
  transition-duration: .5s;
}

.home-portfolio-button a:hover{
  color: $site-green;
  background-color: $site-white;
  border: solid $site-dark-grey thin;  
}

.home-portfolio-image{
  height: 100%;
  width: 100%;
}

.home-portfolio-image img{
  height: 100%;
  width: 100%; 
}

/*Section C- Additional Services section*/
.home-section-c{
  margin-top: 5rem;
}

/*Title for additional services*/
.home-section-c-title h2{
  text-align: center;
  color: $site-dark-grey;
  font-size: 2.4rem;
}

.home-section-c-title p{
  text-align: center;
  color: $site-dark-grey;
  font-size: 1.1rem;
  margin-top: 1.15rem;
}

/*grid for additional services*/
.additional-services-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin:3rem  auto;
  max-width: 95%;
}

/*boxes for additional services grid*/
.additional-services-box{
  width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
}

/*image container for additional services box*/
.additional-services-box-image{
  height: 30vh;
  width:80%;
}

.additional-services-box-image img{
  width: 90%;
  height: 100%;
  border-radius: 50%;
}

.additional-services-box-title{
  color: $site-light-blue;
  font-weight: bold;
  font-size: 1.35rem;
  margin-top: 1.5rem;
}

/*additional services paragraph*/
.additional-services-description {
  margin-top: 1rem;
}

/*Contact section*/
.home-contact-section{
  background-color: $site-green;
  color: $site-white;
  margin-top: 2rem; 
}

.home-contact-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 5rem 0;
}

.home-contact-content h2{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.home-contact-content p{
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

/*Contact button*/
.home-contact-content a{
  color: $site-green;
  background-color: $site-white;
  padding: .75rem 1.1rem;
  border-radius: 4px;
  transition-property: all;
  transition-duration: .5s;
}

.home-contact-content a:hover{
  color: $site-white;
  background-color: $site-green;
  border: solid $site-snow 2px;
}

/*Footer*/
footer{
  background-color: $site-grey;
  text-align: center;
  padding: .75rem 0;
}

/*Media Queries*/
@media(max-width:957px){
  //showcase
  .showcase{
    height: 60vh;
    background: url(/dist/img/showcase-lawn.jpg) no-repeat center center/cover ;
  }

  .showcase .overlay .text-overlay h2{
    font-size: 3rem;
  }

  .showcase .overlay .text-overlay p{
    font-size: 1.3rem;
  }

  /*About us button*/
  .showcase .overlay .text-overlay a{
    font-size: 1rem;
  }

  /*Showcase icon at the bottom of the showcase*/
  .showcase-icon i{
    font-size: 2rem;
  }

  /*Button that links to the portfolio*/
  .home-portfolio-button{
    margin: 3.5rem 0;
  }

  /*top services-grid*/
  .home-section-a .top-services-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 70%;
  }

  .home-section-a .top-services-grid .top-service-box{
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    margin-bottom: 3rem;
  }
  
  /*Description for top services box*/
  .home-section-a .top-services-grid .top-service-box .top-service-box-description{
    width:50%;
    margin: 1rem auto 0 auto;
  }

  /*Portfolio container that adds margin on the outside and flex display*/
  .home-section-a .home-portfolio-container{
    display: block;
    margin:0 auto;
    max-width: 97%;
  }

  /*Portfolio content container*/
  .home-portfolio-content-container{
    max-width: 95%;
    margin-right: 0;
    text-align: center;
  }

  /*underline on portfolio title*/
  .home-portfolio-title::after{
    margin: 1rem auto 0 auto; 
  }
  
  /*Right side of portfolio/our work section holding the image*/
  .home-portfolio-right-side{
    display: none;
  }

  /*grid for additional services*/
  .additional-services-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin:3rem  auto;
    max-width: 95%;
  }

  .additional-services-box{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 3rem;
  }

  /*image container for additional services box*/
  .additional-services-box-image{
    height: 40vh;
    width:40%;
  }

  /*additional services paragraph*/
  .additional-services-description{
   width: 65%;
  }

}

@media(max-width:780px){
  //Header
  header .header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  header .header-menu{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: .75rem;
  }


  header .header-menu li{
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  

  //Header contact
  header .header-contact{
    display: none;
  }

  .showcase .overlay .text-overlay h2{
    font-size: 2rem;
  }

  .showcase .overlay .text-overlay p{
    font-size: 1rem;
  }

  /*About us button*/
  .showcase .overlay .text-overlay a{
    font-size: .85rem;
  }

}

@media(max-width:670px){
  /*image container for additional services box*/
  .additional-services-box-image{
    height: 27vh;
    width:36.5%;
  }
}

@media(max-width:415px){
  header .header-menu{
    width: 90%;
  }

  header .header-menu li{
    font-size: .65rem;
  }

  .showcase{
    height: 35vh;
  }

  .showcase .overlay .text-overlay h2{
    font-size: 1.5rem;
  }

  .showcase .overlay .text-overlay p{
    font-size: .9rem;
  }

  /*About us button*/
  .showcase .overlay .text-overlay a{
    font-size: .9rem;
  }

  /*Showcase icon at the bottom of the showcase*/
  .showcase-icon{
    bottom: 2rem;
  }

  /*Showcase icon at the bottom of the showcase*/
  .showcase-icon i{
    font-size: 1.2rem;
  }
  
  /*Section A title (Top services)*/
  .home-section-a .home-section-a-title h2{
    font-size: 1.4rem;
  }

  .home-section-a .home-section-a-title p{   
    font-size: .88rem; 
  }

  .home-section-a .top-services-grid .top-service-box{
    padding: 3rem;
  }
    
  /*Description for top services box*/
  .home-section-a .top-services-grid .top-service-box .top-service-box-description{
    width:90%;
  }

  /*Title for additional services*/
  .home-section-c-title h2{
    font-size: 1.5rem;
}

  .home-section-c-title p{
    font-size: .9rem;  
  }

  /*image container for additional services box*/
  .additional-services-box-image{
    height: 25vh;
    width:55%;
  }

  .home-contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 4rem 0;
  }
  
  .home-contact-content h2{
    font-size: 1.6rem;
    margin-bottom: .6rem;
  }
  
  .home-contact-content p{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  /*Contact button*/
  .home-contact-content a{
    padding: .65rem .95rem;
  }
}

@media(max-width:320px){
  /*About us button*/
  .showcase .overlay .text-overlay a{
    font-size: .85rem;
    padding: .5rem 1rem;
  }

  /*Showcase icon at the bottom of the showcase*/
  .showcase-icon{
    bottom: 1.5rem;
  }
  
  /*Showcase icon at the bottom of the showcase*/
  .showcase-icon i{
    font-size: 1.3rem;
    padding: .7rem;
  }

  .home-contact-content h2{
    font-size: 1.3rem;
  }
  
  .home-contact-content p{
    font-size: .85rem;
  }

}

    



